{% extends 'main/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeatherEyes</title>
</head>

<body>
        {% block content %}
            {% if user.is_authenticated %}
                <h2>Welcome, {{ user.username}}!</h2>
                <p>insert customized weather data here?</p>
                <p><a href="{% url 'logout' %}">Log Out</a></p>

                <body>
                    <p> </p>
                    <p> </p>
                  </body>
                  <form action="/preferences">
                    <input type="submit" value="Update Preferences">
                  </form>


            {% else %}
                <a href="/login">Please login here to view the site.</a>
            {% endif %}
        {% endblock %}


</body>
</html>