{% extends 'main/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Observational Inquiry</title>
</head>
<body>
    {% block content %}
        {% if user.is_authenticated %}
            <h1>Observational Inquiry</h1>
            <div>
              <p>
                  On this page, you can make an inquiry into historic hourly information or historic daily information.
              </p>
              <p>
                  Please enter the date or range of dates you would like to return weather data for (Jan 01 2021 - Jan 01 2022 format). There are two types of inquiries you can make: Hourly (observed hourly data) or Daily (observed daily data). If you want to inquire into a single date please select single. If you want to inquire into a range of observational data please select range. Additionally, please note that the earliest date you can inquire into is Jan 01 2019
              </p>

              <!-- Noah's original observational_inqury.html code is commented out at the bottom of this file.  The form code below was implemented by me (Devon) so that pulling user input data from the form could be done using Django's Forms  -->
              
              
              <p> If you choose to inquire about a single day, you can ignore the "End date" and "End time" fields.</p>
              <p>Similarly, if you indicate that you want daily information, ignore the last two fields that involve time.</p>
  
            </div>
            
            <div class="container" id="observation-parameters">

                <form method = 'post' action = ''>
                  {% csrf_token %}

                  {{ form.as_p }}

                  <button type="submit">Submit</button>
                  <button type="reset">Reset</button>
                </form>
            </div>
           
        {% else %}
            <a href="/login">Please login here to view the site.</a>
        {% endif %}
    {% endblock %}
</body>
</html>

<!-- Original observational_inqury.html code below (before Devon tampered with it...)
<form action = "/storeval">
                <label for="timetype">Choose hourly or daily</label>
                <select name = " timetype " id = " timetype ">
                <option value = "hourly">Hourly</option>
                <option value = "daily">Daily</option>
                </select>
                <br><br>
            </form>
           
            <form action = "/storeval">
                <label for="inqtype">Choose single or range</label>
                <select name = "inqtype" id = "inqtype">
                <option value = "hourly">Single</option>
                <option value = "daily">Range</option>
                </select>
                <br><br>
            </form>
            <p>
            <form action = "/storeval">
                <label for="start">Start date:</label>
                <input type="date" id="start" name="start"
                   value="2021-04-18"
                   min="2019-01-01">
            </form>
            <form action = "/storeval">
                <label for="start">End date:</label>
                <input type="date" id="start" name="start"
                   value="2021-04-18"
                   min="2019-01-01">
            </form> 

            <button type="button">Submit</button>
            <button type="button">Return to homepage</button> -->