{% extends 'main/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preferences</title>
</head>
<body>
  {% block content %}
    {% if user.is_authenticated %}
            <h1>Preferences</h1>

              <p> Please respond to the following questions to provide your preferences.</p>

            <div class="container" id="user_preferences">
            <form method = 'post' action = '/preferences/'>
              {% csrf_token %}
              {{ form.as_p }}
              <button type = 'submit', name = 'save'> Save </button>
              <button type="reset">Reset</button>
            </form>

            <p></p>
            <form action="/home">
              <input type="submit" value="Return to homepage">
            </form>
            </div>

        {% else %}
            <a href="/login">Please login here to view the site.</a>
    {% endif %}
  {% endblock %}
</body>
</html>